.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background: $btn-bg-color;
  color: $btn-color;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
  cursor: pointer;
  letter-spacing: 0.06em;
  transition-property: background-color, color;
  @extend %transition;

  &-position {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;

    @media (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 60px;
    }

    @media (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 94px;
    }
  }

  &--filters {
    font-weight: 500;
    line-height: 1.63;
    background-color: $btn-filter-bg-color;
    color: $btn-filter-text-color;
    box-sizing: border-box;
    padding: 6px 22px;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 15px;

    @media (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 0px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 0px;
    }
  }

  &--filters:hover {
    background-color: $hover-color;
    color: #fff;
    box-shadow: 0px 2px 2px 0px #0000001f;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001a;
  }

  &--modal {
    width: 200px;
    display: block;
    margin: 30px auto 0 auto;
  }

  &--burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    box-shadow: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: $mobile-menu-btn-open-color;
    transition-property: color;
    @extend %transition;

    &:hover,
    &:active,
    &:focus {
      color: $brand-color;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      display: none;
    }

    @media (min-width: 1200px) {
      display: none;
    }
  }

  &__icon {
    width: 24px;
    height: 16px;
    fill: currentColor;
  }

  &--newsletter {
    padding-right: 76px;
    position: relative;
  }
}
