.contact {
  display: none;

  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  @media (min-width: 1200px) {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }

  &__link {
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: $text-color;
    transition-property: color, fill;
    @extend %transition;

    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  @media (min-width: 1200px) {
    &__link {
      visibility: inherit;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $brand-color;
    fill: $hover-color;
  }

  &__item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }

  &__smartphone-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;

    @media (min-width: 1200px) {
      margin-left: 30px;
    }
  }
}
