.footer-bg {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  text-align: center;

  @media (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
  }

  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 20px;
    margin-bottom: 9px;
  }

  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    list-style-type: none;
    color: $footer-text-color;
    transition-property: color;
    @extend %transition;
  }

  &__link:focus,
  &__link:hover {
    color: $footer-address-link-hover-color;
  }

  &__list {
    margin-top: 9px;
  }

  &__link--address {
    color: $footer-address-link-color;
  }
}

.footer-container {
  @media (min-width: 768px) and (max-width: 1199px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
