body {
  background-color: $body-bg-color;
  @extend %font-temple;
}

.container {
  margin: 0px auto;
  padding: 0 15px;
  width: 100%;

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

ul,
figure {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

address {
  margin-left: auto;
}
