.join {
  margin-top: 60px;

  @media (min-width: 768px) and (max-width: 1200px) {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 0px;
  }

  @media (min-width: 1200px) {
    width: 246px;
    margin-left: 70px;
    margin-top: 0px;
  }

  &__tittle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 10px;
  }
}
