.logo {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  &--header {
    color: $logo-secondary-dark-color;
    padding-right: 70px;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &--accent {
    color:$logo-main-color;
  }
  &--footer {
    color: $logo-secondary-light-color;
    padding-bottom: 20px;
  }
}
