.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $mobile-menu-bg-color;
  z-index: 999;
  transform: translateX(100%);
  @extend %transition;

  &.is-open {
    transform: translateX(0);
  }

  &__list {
    flex-grow: 1;
    list-style: none;

    &--margin-bottom {
      margin-bottom: 64px;
    }
  }

  &__item {
    &--margin-bottom:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__link {
    font-family: "roboto";
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $text-color;
    text-decoration: none;
    transition-property: color;
    @extend %transition;

    &:hover,
    &:active,
    &:focus {
      color: $brand-color;
    }

    &--phone {
      font-size: 34px;
      line-height: 1.18;
      color: $brand-color;
    }

    &--email {
      font-size: 24px;
      line-height: 1.17;
      color: $secondary-text-color;
    }

    &--current-page {
      color: $brand-color;
    }
  }
  &__btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    color: $mobile-menu-btn-close-color;
    transition-property: color;
    @extend %transition;

    &:hover,
    &:active,
    &:focus {
      color: $brand-color;
    }
  }

  &__icon {
    width: 19px;
    height: 19px;
    fill: currentColor;
  }

  &__contact {
    flex-grow: 0;
  }

  &__social-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
  }

  &__social-link {
    display: flex;
    align-items: center;
    font-family: "roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: $brand-color;
  }

  &__social-icon {
    height: 22px;
    width: 1px;
    margin: 0 10px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .mobile-menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

.btn-mobile-menu-close {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  color: $mobile-menu-btn-close-color;
  transition-property: color;
  @extend %transition;

  &:hover,
  &:active,
  &:focus {
    color: $brand-color;
  }

  &__icon {
    width: 19px;
    height: 19px;
    fill: currentColor;
  }

}

.js-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
