.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    padding-bottom: 50px;
  }

  &_title--mobile {
    visibility: inherit;
  }

  &_title--hidden {
    display: none;
    visibility: hidden;

    @media (min-width: 1200px) {
      visibility: inherit;
    }
  }

  &--double {
    padding-top: 0px;
    padding-bottom: 0px;
    @media (min-width: 1200px) {
      padding-bottom: 94px;
    }
  }

  &--double-tablet {
    @media (min-width: 768px) and (max-width: 1200px) {
      padding-bottom: 45px;
    }
  }
}
