.solution-position {
  margin-bottom: 60px;
  margin-top: 40px;

  @media (min-width: 768px) and (max-width: 1199px) {
    margin-top: 30px;
  }
  @media (min-width: 1200px) {
    margin-bottom: 94px;
    margin-top: 50px;
  }
}

.solutions {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;

  & > &__item {
    padding: 15px;
    width: 100%;
    margin-bottom: 30px;
    flex: 0 0 100%;
    max-width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      flex: 0 0 50%;
      max-width: 50%;
    }
    @media (min-width: 1200px) {
      flex: 0 0 33.3%;
      max-width: 33.3%;
    }
  }

  &__img {
    width: 100%;

    @media (min-width: 1200px) {
      height: 294px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin: 0px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.86;
    color: $solutions-text-color;
    margin-top: 4px;
    margin-bottom: 0px;
  }

  &__figure {
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition-property: background-color;
    transition-property: box-shadow;
    @extend %transition;
  }

  &__figure:hover {
    box-shadow: 0px 1px 1px 0px #0000001f, 1px 4px 6px 0px #00000029,
      0px 4px 4px 0px #0000000f;
  }

  &__figcaption {
    flex-wrap: wrap;
    border: 1px solid $solutions-border-color;
    border-top: none;
    padding: 20px 24px;
    background-color: $solutions-bg-color;
    position: sticky;
    top: 0;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $solutions-overlay-bg-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: $solutions-overlay-color;
  transform: translateY(100%);
  transition-property: transform;
  @extend %transition;



  &__position {
    margin: 0 auto;
    padding: 0 24px;

    @media (min-width: 768px) and (max-width: 1199px) {
    padding-top: 49px;
    }
    @media (min-width: 1200px) {    
      padding-top: 49px;
    }
  }

  .solutions__figure:hover & {
    transform: translateY(0);
  }
}
