$brandColor: #212121;
$hoverColor: #2196f3;
$buttonBgColor: #2196f3;
$logoColorHeader: #000;
$logoColorFooter: #fff;
$logoColorAccent: #2196f3;
$bgColor: #fff;
$iconColor: #afb1b8;
$iconBgColor: #fff;

%font-temple {
  font-family: "Roboto", "Raleway", sans-serif;
}

